DS_Store
.ipynb_checkpoints

web-project/your-code/clickBait_Data.csv
web-project/your-code/kaggle_traducido.csv
web-project/your-code/kaggle_traducido2.csv
web-project/your-code/nube.pdf
web-project/your-code/titulares.csv
